<!DOCTYPE html>

<html>

<head>
    <title>{{ page.title }} - {{ site.title }}</title>

    {% include style.html %}

    {% include head.html %}

</head>

<body>

    <header>
        <h1 title="{{site.description}}">Disintegrated Parts</h1>

        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/notes">Notes</a></li>
        </ul>

    </header>

    <main>
        <article>
            {% if page.path contains 'notes' %}
            <div style="display: flex; justify-content: space-between; font-size: 1.4rem;">
                    {% include breadcrumbs.html %}

                    <span>
                        {% if page.date %}
                            Created: {{ page.date | date: '%B %d, %Y' }}
                        {% endif %}
                        {% if page.date and page.last_modified_at %}
                            |
                        {% endif %}
                        {% if page.last_modified_at %}
                            Last Modified: {{ page.last_modified_at | date: '%B %d, %Y' }}
                        {% endif %}
                    </span>
                </div>
            {% endif %}


            {% if page.toc %}
            <details style="border-bottom: 2px gray dotted;">
                <summary style="display: inline;">
                    <h1>Contents <small style="font-size: .7em">▾</small></h1>
                </summary>
                {{ content | toc_only }}
            </details>
            {% endif %}
            
            <section>
            {{ content | inject_anchors }}
            </section>
        </article>
    </main>

    {% if page.webmentions != false %}
    
    <article>
        <section>
        {% webmentions page.url %}
        </section>
    </article>
    {% endif %}

    <footer>
        <p>© 2024 Corstian Boerman. All rights reserved.</p>
    </footer>

</body>

</html>